@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display&display=swap");

:root {
  --light: #;
  --dark: #72a84a;
  --white: #eee;
  --black: #1a1a1a;
  --grey: #6d6d6d;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background: #d8eacb;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  background: var(--white, white);
  padding: 1em 1.25em;
}

.logo {
  color: black;
  font-weight: bold;
}

/* --------------------------------------------------- */
/* MENU */
/* --------------------------------------------------- */
.menu {
  cursor: pointer;
}

nav ul {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--dark, green);
  height: 100vh;
  padding-top: 5em;
  z-index: 100;
  transform: translateX(100vw);
  transition: all 0.3s ease;
}

nav ul li a {
  text-align: left;
  font-size: 2rem;
  padding: 0.5rem 1.5rem 2rem;
  width: 100%;
  font-weight: bold;
  display: block;
  color: var(--white, white);
}
.exit a {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.open-nav {
  visibility: unset;
  opacity: 1;
  transform: translateX(0);
}

/* MAIN */
.forest-hero {
  background: url("../images/forest.jpg");
  background-size: cover;
  color: var(--white, white);
}

.wrapper {
  padding: 0.5rem;
  text-align: center;
}

.no-padding {
  padding: 0;
}

.subtitle {
  padding: 3em 0 0.75em;
}

h1 span {
  display: block;
  /* clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); */
}

.cta {
  background: var(--dark, green);
  color: var(--black, black);
  padding: 0.7em 2em;
  display: inline-block;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 3em 0;
  cursor: pointer;
}

ul.featured-cabins {
  width: 60%;
  margin: 3rem auto;
}

ul.featured-cabins li {
  margin-bottom: 3em;
}

.cabin-img {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.cabin-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

.cabin-desc,
.left p {
  line-height: 1.75;
  margin: 2rem 0;
}

.cabin-cta {
  border-bottom: 3px solid var(--white, white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.15rem;
  padding: 0.75rem;
}

.cabin-cta img {
  width: 15px;
}

/* FEATURES SSECTION */
.feature-container {
  background: var(--black, black);
}

ul.features {
  width: 75%;
  margin: 2rem auto;
  color: var(--white, white);
}

ul.features li {
  margin: 2rem 0;
}

ul.features li img {
  width: 65px;
}

ul.features li h2 {
  margin: 1rem 0;
}

.features li p {
  line-height: 1.75;
  color: var(--grey, lightgrey);
}

/* TESTIMONIALS */
.main-quote {
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  font-style: italic;
  margin: 2rem 0 1rem;
}
.main-cite {
  color: var(--grey, lightgrey);
  margin-bottom: 3rem;
  display: block;
}

ul.testimonials {
  width: 75%;
  margin: 3rem auto;
}

ul.testimonials li {
  margin-bottom: 3rem;
}

.test-img {
  border-radius: 50%;
  width: 100px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.test-desc {
  font-family: "Playfair Display", serif;
  font-size: 1.15rem;
  font-style: italic;
}

.test-auth {
  margin-top: 1rem;
  font-size: 0.85rem;
  font-weight: bold;
}

.last-container {
  position: relative;
}

.fern {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  z-index: 1;
  opacity: 0.08;
}

/* MEDIA */
@media (min-width: 550px) {
  .menu,
  .exit {
    display: none;
  }

  nav ul {
    visibility: unset;
    transform: translateX(0);
    opacity: 1;
    background: none;
    position: unset;
    height: auto;
    display: flex;
    margin: 0;
    padding: 0;
  }

  nav ul li a {
    color: var(--black, black);
    font-size: 1rem;
    font-weight: unset;
    font-size: 0.9rem;
    padding: 0 1rem;
  }

  ul.nav li:last-child a {
    padding-right: 0;
  }

  ul.nav .active a {
    font-weight: bold;
  }

  ul.nav .res a {
    color: var(--dark, green);
    font-weight: bold;
  }

  ul.featured-cabins {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

@media (min-width: 650px) {
  ul.features {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  h1 span {
    font-size: 3rem;
  }
}

@media (min-width: 950px) {
  .wrapper {
    text-align: left;
  }

  .flex {
    display: flex;
  }

  .hero {
    padding: 5rem;
  }

  .main-copy {
    width: 40%;
  }

  p.subtitle {
    margin: 3rem 0 1rem;
    padding: 0;
  }

  ul.featured-cabins {
    width: 70%;
  }

  .last-container {
    padding: 0 4em;
  }

  .main-quote {
    text-align: center;
    font-size: 3rem;
    margin-top: 5rem;
  }

  .main-cite {
    font-size: 1.5rem;
    margin-bottom: 8rem;
    text-align: center;
  }

  .bio {
    width: 90%;
  }

  ul.testimonials {
    width: 100%;
    margin-left: 3rem;
  }

  ul.testimonials li {
    display: flex;
    background: var(--white);
    border-radius: 3px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.08);
    padding: 1.5rem;
  }

  .test-left {
    margin-left: 1.5rem;
  }

  .fern {
    width: 40%;
    opacity: 0.05;
  }

  .cabin-desc,
  ul.features li p,
  .left p {
    font-size: 1.15rem;
  }
}
